<a href="https://massstreetuniversity.com/"><img src="https://tutorials.massstreetuniversity.com/images/logo.png" alt="School Logo"></a><br><br><br>
<a href="http://tutorials.massstreetuniversity.com/transact-sql/">Tutorial Home</a> | <a href="https://tutorials.massstreetuniversity.com/transact-sql/basic/subqueries.html">Previous</a> | <a href="https://tutorials.massstreetuniversity.com/transact-sql/basic/updating-data.html">Next</a>

<h1>Lesson 17. Creating Data</h1>

Time to start learning CRUDOPS.

Cr – Create

U – Update

D – Delete

Usually data is machine generated or generated by a user on the other end of an interface. However, sometimes you have to add data by hand.* 

The important part of adding data is to make sure you do not violate the data type of the column you are working with. Also, there may be other constraints. If the table has been well implemented, you will be prevented from doing anything bad.

You create data with the SQL INSERT statement. There is more than one way to do this. I am going to teach you my preferred way.

*Obviously if you are an app developer you have to learn how to create, update, and delete data from an application. This tutorial is written from the perspective of business analytics.

<h1>Examples</h1>

<strong>Inserting One Record</strong>

For simplicity, I'm going to create a temporary table for this example. Temporary tables are discussed in the advanced section.

In [ ]:
USE demo

DECLARE @Person AS TABLE (ID INT, FName NVARCHAR(100), LNAME NVARCHAR(100))

INSERT INTO @Person(ID, FName, LNAME)
SELECT 1,'Bob','Wakefield'

SELECT *
FROM @Person

<strong>Inserting More Than One Record</strong>

In [ ]:
USE demo

DECLARE @Person AS TABLE (ID INT, FName NVARCHAR(100), LNAME NVARCHAR(100))

INSERT INTO @Person(ID, FName, LNAME)
SELECT 1,'Bob', 'Wakefield'
UNION
SELECT 2,'Vanna','White'
UNION
SELECT 3,'Pat','Sajak'


SELECT *
FROM @Person

Copyright © 2020, Mass Street Analytics, LLC. All Rights Reserved.